# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/multiscroll/multiscroll/img/sliced-tileset/wood-legs.png
/multiscroll/multiscroll/img/sliced-tileset/window.png
/multiscroll/multiscroll/img/sliced-tileset/window-bars.png
/multiscroll/multiscroll/img/sliced-tileset/wall.png
/multiscroll/multiscroll/img/sliced-tileset/wall-b.png
/multiscroll/multiscroll/img/sliced-tileset/top-wood.png
/multiscroll/multiscroll/img/sliced-tileset/top-right-wood.png
/multiscroll/multiscroll/img/sliced-tileset/top-left-wood.png
/multiscroll/multiscroll/img/sliced-tileset/stairs.png
/multiscroll/multiscroll/img/sliced-tileset/stairs-wall.png
/multiscroll/multiscroll/img/sliced-tileset/stairs-wall-right.png
/multiscroll/multiscroll/img/sliced-tileset/stairs-wall-mirror.png
/multiscroll/multiscroll/img/sliced-tileset/stairs-wall-mirror-right.png
/multiscroll/multiscroll/img/sliced-tileset/stairs-wall-mirror-left.png
/multiscroll/multiscroll/img/sliced-tileset/stairs-wall-left.png
/multiscroll/multiscroll/img/sliced-tileset/stairs-right.png
/multiscroll/multiscroll/img/sliced-tileset/stairs-mirror.png
/multiscroll/multiscroll/img/sliced-tileset/stairs-mirror-right.png
/multiscroll/multiscroll/img/sliced-tileset/stairs-mirror-left.png
/multiscroll/multiscroll/img/sliced-tileset/stairs-left.png
/multiscroll/multiscroll/img/sliced-tileset/slope.png
/multiscroll/multiscroll/img/sliced-tileset/shadow.png
/multiscroll/multiscroll/img/sliced-tileset/roof.png
/multiscroll/multiscroll/img/sliced-tileset/right-slope.png
/multiscroll/multiscroll/img/sliced-tileset/right-roof.png
/multiscroll/multiscroll/img/sliced-tileset/right-corner.png
/multiscroll/multiscroll/img/sliced-tileset/left-slope.png
/multiscroll/multiscroll/img/sliced-tileset/left-roof.png
/multiscroll/multiscroll/img/sliced-tileset/left-corner.png
/multiscroll/multiscroll/img/sliced-tileset/ground.png
/multiscroll/multiscroll/img/sliced-tileset/ground-wood-legs.png
/multiscroll/multiscroll/img/sliced-tileset/ground-wall.png
/multiscroll/multiscroll/img/sliced-tileset/ground-wall-b.png
/multiscroll/multiscroll/img/sliced-tileset/ground-shadow.png
/multiscroll/multiscroll/img/sliced-tileset/ground-right-corner.png
/multiscroll/multiscroll/img/sliced-tileset/ground-corner.png
/multiscroll/multiscroll/img/sliced-tileset/ground-b.png
/multiscroll/multiscroll/img/props-sliced/well.png
/multiscroll/multiscroll/img/props-sliced/wagon.png
/multiscroll/multiscroll/img/props-sliced/street-lamp.png
/multiscroll/multiscroll/img/props-sliced/sign.png
/multiscroll/multiscroll/img/props-sliced/house-c.png
/multiscroll/multiscroll/img/props-sliced/house-b.png
/multiscroll/multiscroll/img/props-sliced/house-a.png
/multiscroll/multiscroll/img/props-sliced/crate.png
/multiscroll/multiscroll/img/props-sliced/crate-stack.png
/multiscroll/multiscroll/img/props-sliced/barrel.png
/multiscroll/multiscroll/img/middleground.png
/multiscroll/multiscroll/img/bearded-walk.png
/multiscroll/multiscroll/img/background.png
/gradiusv/x64/Debug/gradiusv.pdb
/gradiusv/x64/Debug/gradiusv.ilk
/gradiusv/gradiusv/x64/Debug/vc141.pdb
/gradiusv/gradiusv/x64/Debug/vc141.idb
/gradiusv/gradiusv/x64/Debug/gradiusv.tlog/link.write.1.tlog
/gradiusv/gradiusv/x64/Debug/gradiusv.tlog/link.read.1.tlog
/gradiusv/gradiusv/x64/Debug/gradiusv.tlog/link.command.1.tlog
/gradiusv/gradiusv/x64/Debug/gradiusv.tlog/gradiusv.lastbuildstate
/gradiusv/gradiusv/x64/Debug/gradiusv.tlog/CL.write.1.tlog
/gradiusv/gradiusv/x64/Debug/gradiusv.tlog/CL.read.1.tlog
/gradiusv/gradiusv/x64/Debug/gradiusv.tlog/CL.command.1.tlog
/gradiusv/gradiusv/x64/Debug/gradiusv.log
/gradiusv/gradiusv/Log.txt
/gradiusv/gradiusv/gradiusv.vcxproj.user
/gradiusv/.vs/gradiusv/v15/ipch/AutoPCH/9b0ca0824efaae67/SOURCE.ipch
/gradiusv/.vs/gradiusv/v15/ipch/AutoPCH/32966092cd0be528/GEOMETRY.ipch
/gradiusv/.vs/gradiusv/v15/Browse.VC.opendb
/gradiusv/.vs/gradiusv/v15/Browse.VC.db
/gradiusv/.vs/gradiusv/v15/.suo
