# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/multiscroll/multiscroll/img/sliced-tileset/wood-legs.png
/multiscroll/multiscroll/img/sliced-tileset/window.png
/multiscroll/multiscroll/img/sliced-tileset/window-bars.png
/multiscroll/multiscroll/img/sliced-tileset/wall.png
/multiscroll/multiscroll/img/sliced-tileset/wall-b.png
/multiscroll/multiscroll/img/sliced-tileset/top-wood.png
/multiscroll/multiscroll/img/sliced-tileset/top-right-wood.png
/multiscroll/multiscroll/img/sliced-tileset/top-left-wood.png
/multiscroll/multiscroll/img/sliced-tileset/stairs.png
/multiscroll/multiscroll/img/sliced-tileset/stairs-wall.png
/multiscroll/multiscroll/img/sliced-tileset/stairs-wall-right.png
/multiscroll/multiscroll/img/sliced-tileset/stairs-wall-mirror.png
/multiscroll/multiscroll/img/sliced-tileset/stairs-wall-mirror-right.png
/multiscroll/multiscroll/img/sliced-tileset/stairs-wall-mirror-left.png
/multiscroll/multiscroll/img/sliced-tileset/stairs-wall-left.png
/multiscroll/multiscroll/img/sliced-tileset/stairs-right.png
/multiscroll/multiscroll/img/sliced-tileset/stairs-mirror.png
/multiscroll/multiscroll/img/sliced-tileset/stairs-mirror-right.png
/multiscroll/multiscroll/img/sliced-tileset/stairs-mirror-left.png
/multiscroll/multiscroll/img/sliced-tileset/stairs-left.png
/multiscroll/multiscroll/img/sliced-tileset/slope.png
/multiscroll/multiscroll/img/sliced-tileset/shadow.png
/multiscroll/multiscroll/img/sliced-tileset/roof.png
/multiscroll/multiscroll/img/sliced-tileset/right-slope.png
/multiscroll/multiscroll/img/sliced-tileset/right-roof.png
/multiscroll/multiscroll/img/sliced-tileset/right-corner.png
/multiscroll/multiscroll/img/sliced-tileset/left-slope.png
/multiscroll/multiscroll/img/sliced-tileset/left-roof.png
/multiscroll/multiscroll/img/sliced-tileset/left-corner.png
/multiscroll/multiscroll/img/sliced-tileset/ground.png
/multiscroll/multiscroll/img/sliced-tileset/ground-wood-legs.png
/multiscroll/multiscroll/img/sliced-tileset/ground-wall.png
/multiscroll/multiscroll/img/sliced-tileset/ground-wall-b.png
/multiscroll/multiscroll/img/sliced-tileset/ground-shadow.png
/multiscroll/multiscroll/img/sliced-tileset/ground-right-corner.png
/multiscroll/multiscroll/img/sliced-tileset/ground-corner.png
/multiscroll/multiscroll/img/sliced-tileset/ground-b.png
/multiscroll/multiscroll/img/props-sliced/well.png
/multiscroll/multiscroll/img/props-sliced/wagon.png
/multiscroll/multiscroll/img/props-sliced/street-lamp.png
/multiscroll/multiscroll/img/props-sliced/sign.png
/multiscroll/multiscroll/img/props-sliced/house-c.png
/multiscroll/multiscroll/img/props-sliced/house-b.png
/multiscroll/multiscroll/img/props-sliced/house-a.png
/multiscroll/multiscroll/img/props-sliced/crate.png
/multiscroll/multiscroll/img/props-sliced/crate-stack.png
/multiscroll/multiscroll/img/props-sliced/barrel.png
/multiscroll/multiscroll/img/middleground.png
/multiscroll/multiscroll/img/bearded-walk.png
/multiscroll/multiscroll/img/background.png
/gradiusv/x64/Debug/gradiusv.pdb
/gradiusv/x64/Debug/gradiusv.ilk
/gradiusv/gradiusv/x64/Debug/vc141.pdb
/gradiusv/gradiusv/x64/Debug/vc141.idb
/gradiusv/gradiusv/x64/Debug/gradiusv.tlog/link.write.1.tlog
/gradiusv/gradiusv/x64/Debug/gradiusv.tlog/link.read.1.tlog
/gradiusv/gradiusv/x64/Debug/gradiusv.tlog/link.command.1.tlog
/gradiusv/gradiusv/x64/Debug/gradiusv.tlog/gradiusv.lastbuildstate
/gradiusv/gradiusv/x64/Debug/gradiusv.tlog/CL.write.1.tlog
/gradiusv/gradiusv/x64/Debug/gradiusv.tlog/CL.read.1.tlog
/gradiusv/gradiusv/x64/Debug/gradiusv.tlog/CL.command.1.tlog
/gradiusv/gradiusv/x64/Debug/gradiusv.log
/gradiusv/gradiusv/Log.txt
/gradiusv/gradiusv/gradiusv.vcxproj.user
/gradiusv/.vs/gradiusv/v15/ipch/AutoPCH/9b0ca0824efaae67/SOURCE.ipch
/gradiusv/.vs/gradiusv/v15/ipch/AutoPCH/32966092cd0be528/GEOMETRY.ipch
/gradiusv/.vs/gradiusv/v15/Browse.VC.opendb
/gradiusv/.vs/gradiusv/v15/Browse.VC.db
/gradiusv/.vs/gradiusv/v15/.suo
props-sliced
/gradiusv/.vs/gradiusv/v15/ipch/AutoPCH/760cb54cdae0a5cc/SOURCE.ipch
/gradiusv/.vs/gradiusv/v15/ipch/AutoPCH/345d9417f4394f23/GEOMETRY.ipch
/edgedataloader/x64/Debug/edgedataloader.pdb
/edgedataloader/x64/Debug/edgedataloader.ilk
/gradiusv/gradiusv/Debug/vc141.pdb
/gradiusv/gradiusv/Debug/vc141.idb
/gradiusv/gradiusv/Debug/gradiusv.tlog/link.write.1.tlog
/gradiusv/gradiusv/Debug/gradiusv.tlog/link.read.1.tlog
/gradiusv/gradiusv/Debug/gradiusv.tlog/link.command.1.tlog
/gradiusv/gradiusv/Debug/gradiusv.tlog/gradiusv.lastbuildstate
/gradiusv/gradiusv/Debug/gradiusv.tlog/CL.write.1.tlog
/gradiusv/gradiusv/Debug/gradiusv.tlog/CL.read.1.tlog
/gradiusv/gradiusv/Debug/gradiusv.tlog/CL.command.1.tlog
/gradiusv/gradiusv/Debug/gradiusv.log
/multiscroll/multiscroll/Log.txt
/multiscroll/multiscroll/Debug/vc141.pdb
/multiscroll/multiscroll/Debug/vc141.idb
/multiscroll/multiscroll/Debug/multiscroll.tlog/multiscroll.lastbuildstate
/multiscroll/multiscroll/Debug/multiscroll.tlog/link.write.1.tlog
/multiscroll/multiscroll/Debug/multiscroll.tlog/link.read.1.tlog
/multiscroll/multiscroll/Debug/multiscroll.tlog/link.command.1.tlog
/multiscroll/multiscroll/Debug/multiscroll.tlog/CL.write.1.tlog
/multiscroll/multiscroll/Debug/multiscroll.tlog/CL.read.1.tlog
/multiscroll/multiscroll/Debug/multiscroll.tlog/CL.command.1.tlog
/multiscroll/multiscroll/Debug/multiscroll.log
/multiscroll/Debug/multiscroll.pdb
/multiscroll/Debug/multiscroll.ilk
/multiscroll/.vs/multiscroll/v15/ipch/AutoPCH/6c617f53c7e78891/SOURCE.ipch
/multiscroll/.vs/multiscroll/v15/Browse.VC.db
/masktest/MaskTest/MaskTest.vcxproj.user
/gradiusv/Debug/gradiusv.ilk
/edgedataloader/edgedataloader/Log.txt
/edgedataloader/.vs/edgedataloader/v15/ipch/AutoPCH/f6fdf3e4c6832f04/SOURCE.ipch
/edgedataloader/.vs/edgedataloader/v15/Browse.VC.db
/edgedataloader/.vs/edgedataloader/v15/.suo
/multiscroll/multiscroll/multiscroll.vcxproj.user
/gradiusv/Debug/gradiusv.pdb
/multiscroll/.vs/multiscroll/v15/.suo
/gradiusv/.vs/gradiusv/v15/ipch/AutoPCH/1d890b7b0da2fdff/SOURCE.ipch
/gradiusv/.vs/gradiusv/v15/ipch/AutoPCH/e08c294214467897/SOURCE.ipch
/gradiusv/.vs/gradiusv/v15/ipch/AutoPCH/1115a07bb33b8817/SOURCE.ipch
x64
/onefinger/OneFingerMonkPunch/Log.txt
*
*.png
/SlashEffectTest/SlashEffectTest/Log.txt
/SlashEffectTest/SlashEffectTest/SlashEffectTest.vcxproj.user
/SlashEffectTest/SlashEffectTest/testps.pso
